/* Core styling elements */
@import url("../../styles/base/core.css");

/* NAVBAR*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    padding: 10px 20px;
    position: sticky;
    top: 0px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    border-bottom: 2.5px solid var(--alternate-color);
    z-index: 1000;
}

/* Navbar style when scrolled */
nav.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 300px;
    padding: 0px 15px;
    border-radius: 5px;
    background-color: var(--alternate-color);
}

.navbar-search input, .navbar-search button{
    height: 40px;
    width: 240px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-color);
}

.navbar-search input{
    font-size: 1rem;
    font-family: "Camingo Code";
    font-weight: bolder;
    color: var(--augmenting-color);
}

.navbar-search input::placeholder{
    color: var(--augmenting-color);
    font-weight: normal;
}

.navbar-search button{
    height: 30px;
    width: 30px;
    background-image: url("../../images/ui/search.svg");
    background-size: cover;
    background-attachment: local;
    transition: all 0.3s ease;
}

.navbar-search button:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 799px) {
    .navbar-search, .nav-right .cta-btn{
        display: none;
    }

}

/* Overlay (hidden by default) */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0);
    display: none;
    z-index: 999; /* sits below nav menu */
}

/* Nav menu */
.nav-menu {
    position: fixed;
    top: 0;
    left: -42vw;   /* hidden off-screen */
    width: 40vw;
    height: 100vh;
    background: var(--augmenting-color);
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
    transition: left 0.4s cubic-bezier(0.25, 1.25, 0.5, 1);
    z-index: 1000;
}

.nav-header{
    height: 60px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--alternate-color);
}

#close-nav-menu{
    float: right;
    color: var(--primary-color);
}

.nav-links{
    padding: 20px 0px;
}

.nav-links h1{
    width: 100%;
    padding: 20px;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s all;
}

.nav-links h1:hover{
    border-left: 30px solid var(--complemantary-color);
}

/* Active states */
.nav-menu.active {
  left: 0px;
}

#overlay.active {
  display: block;
}

@media screen and (max-width: 799px) {
    .nav-menu{
        left: -110vw;
        width: 100vw;
    }

}


