@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

@font-face {
    font-family: "Anonymous Pro";
    src: url(../assets/fonts/Anonymous_Pro.ttf);
}
@font-face {
    font-family: "ArmWrestler";
    src: url(../assets/fonts/ArmWrestler.ttf);
}

:root {
    --primary-color: #ffffff;
    --contrast-color: #DCD8E2;
    --secondary-color: #D1F55B;
    --invisible-color: #D9D9D9;
    --secondary-font-color: #749604;
    --background-color: #068248;

    --paragraph-font: "Anonymous Pro", monospace;
    --title-font: "ArmWrestler";
}


* {box-sizing: border-box;}

body {
    max-width: 100vw;
    margin: 0px;
    overflow-x: hidden;
}

button {
    padding: 7.5px 15px;
    border: none;
    cursor: pointer;
    transition: ease all 0.4s;
}
button:hover {transform: scale(1.1);}

img {object-fit: cover;}

h1 {font-family: var(--title-font);}
button, p, h2, ul, li {font-family: var(--paragraph-font);}