@import url(core.css);

footer {
    width: 98.5%;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--font-color);
    color: var(--background-color);
}

.footer-top {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding: 20px;
    border-bottom: 1px solid var(--background-color);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-bottom h1 {
    font-size: 8rem;
    margin: 0px;
}

@media screen and (max-width: 750px) {
    .footer-top {
        justify-content: space-between;
        gap: 50px;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    .footer-bottom h1 {font-size: 4rem;}
}