@import url('index.css');

nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
    padding-top: 10px;
    background-color: var(--primary-color);
}

.navbar {
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px 20px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--invisible-color);
    border-radius: 20px 20px 0px 0px;

}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left {color: var(--primary-color);}

.nav-contact-btn {
    color: var(--primary-color);
    background-color: transparent;
}
.nav-contact-btn:hover {text-decoration: underline;}

.nav-cta {
    background-color: black;
    color: var(--primary-color);
    border-radius: 12px;
}
.nav-cta:hover {
    background-color: var(--primary-color);
    color: black;
}

.drop-down-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--secondary-font-color);
}

@media screen and (max-width: 750px) {
    .navbar {
        width: 97%;
        border-radius: 30px 30px 0px 0px;
    }
    .drop-down-button, .nav-contact-btn {display: none;}
}
@media screen and (min-width: 751px) {
    .drop-down-button {display: none;}
}
